/* Write your code here. */
.bg1 {
  background-image: linear-gradient(#9796f0, #fbc7d4);
  padding: 25px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.emoji-container {
  display: grid;
  grid-template-columns: 150px 150px 150px 150px;
}
